<div class="create-news">
  <h1>新規投稿（パートナー情報）</h1>
  <!-- form_for部分 -->
  <%#= form_for @news, :url => {controller: "news", action: "new"} do |f| %>
  <%= form_for @partner do |f| %>

    <h4>画像</h4>
      <div class="">
        <%#= f.attachment_field :partner_image, direct: true, presigned: true %>
        <%= f.attachment_field :partner_image %>
      </div>

    <h4>リンク先</h4>
    <%= f.text_field :link, class:"create-partner-link" %>

    <h4>名前</h4>
    <%= f.text_field :name, class:"create-partner-link" %>

    <h4>タグ</h4>
    <%= f.select :tag_id, Partner.tag_ids.keys, { prompt: '選択してください' } %>

    <h4>公開非公開</h4>
    <%= f.select :published, {'公開': 1, '下書き': 0}, {include_blank: ''}, { class: '' , required: true } %>

    <%= f.submit '保存' %>

  <% end %>

</div>