<div class="navbar clearfix">

  <!-- header 左側 -->
  <div class="header-left">
    <%= link_to image_tag("logo-top.png", class:"logo-top"), root_path %>
  </div>

  <!-- header 中央 -->
  <div class="header-center">
    <div class="header-box">
      <%= link_to 'ABOUT', '#about', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'NEWS', '#news', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'CAST', '#cast', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'FOOD&DRINK', '#fooddrink', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'TICKET', '#ticket', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'ACCESS', '#access', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'REPORT', '#report', class: 'header-center-text' %>
    </div>
      <!-- <p class="header-center-text"> -->
          <%#= link_to 'ABOUT', '#about', class: 'header-center-text' %>
          <%#= link_to 'NEWS', '#news' %>
          <%#= link_to 'CAST', '#cast' %>
          <%#= link_to 'FOOD&DRINK', '#fooddrink' %>
          <%#= link_to 'TICKET', '#ticket' %>
          <%#= link_to 'ACCESS', '#access' %>
          <%#= link_to 'REPORT', '#report' %>
        <!-- ABOUT / NEWS / CAST / FOOD&DRINK / TICKET / ACCESS / REPORT -->
      <!-- </p> -->

  </div>

  <!-- header 右側 -->
  <div class="header-right">
    <h4>

    </h4>
  </div>

</div>

<div class="gradient-bar">
</div>