<div class="navbar clearfix">

  <!-- header 左側 -->
  <div class="header-left">
    <%= link_to image_tag("logo-top.png", class:"logo-top"), root_path %>
  </div>

  <!-- header 中央 -->
  <div class="header-center">
    <div class="header-box">
      <%= link_to 'ABOUT', '#about', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'NEWS', '#news', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'CAST', '#cast', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'FOOD&DRINK', '#fooddrink', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'TICKET', '#ticket', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'ACCESS', '#access', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'REPORT', '#report', class: 'header-center-text' %>
    </div>
  </div>

  <!-- header 右側 -->
  <div class="header-right">
    <h4>
    </h4>
  </div>

    <span style="position: absolute; top: 5px; right: 5px; font-size: 11px; color: orange">
      ※こちらはダミーサイトです。掲載されている情報は事実と異なります。
    </span>

</div>

<div class="gradient-bar">
</div>